<div class="body">
  <form class="example-form" (ngSubmit)="getbyownerid(box.value)">
    <h2 class="heading">Owner Details</h2>
    <input type="text" required #box matInput placeholder="Enter owner Id" name="ownerId" [(ngModel)]="ownerId" />
    <br>
    <button type="submit" class="btn btn-primary">Enter</button>
  </form>
</div>
<div class="body">
  <div class="example-form">
    <h2 class="heading">Update Owner Details</h2>
    <form (ngSubmit)="submitForm()" enctype="multipart/form-data" class="example-form">
      <input type="text" required matInput placeholder="Enter Owner Id"   [disabled]="true" name="ownerId" [(ngModel)]="ownerId"   />


      <input type="text" required matInput placeholder="Enter Owner Name" name="name" [(ngModel)]="name" />

      <input type="text" required matInput placeholder="Enter Email" name="email"
             [(ngModel)]="email" />

      <input type="text" required matInput placeholder="Enter Mobile Number" name="mobileNo" [(ngModel)]="mobileNo" />
      <input type="text" required matInput placeholder="Enter Address" name="addr" [(ngModel)]="addr" />
      <input type="text" required matInput placeholder="Enter Date of Birth" name="dob"
             [(ngModel)]="dob" />

      <br><br>
      <button type="submit" class="btn btn-primary">Update</button>

    </form>
  </div>
  <br><br><br><br><br>

</div>
