
<div class="body">
  <div class="example-form">
    <h2 class="heading">Salon Owner Details</h2>
    <form
      (ngSubmit)="submitForm()"
      enctype="multipart/form-data"
      class="example-form"
    >
      <input
        type="text"
        required
        matInput
        placeholder="Enter salon Id"
        name="salonId"
        [(ngModel)]="salonId"
        pattern="[A-Za-z0-9]+"
      />

      <input
        type="text"
        required
        matInput
        placeholder="Enter Salon Name"
        name="salonName"
        [(ngModel)]="salonName"
        pattern="[A-Za-z ]+"
        
      />

      <input
        type="text"
        required
        matInput
        placeholder="Enter Salon Owner Name"
        name="salonOwnerName"
        [(ngModel)]="salonOwnerName"
        pattern="[A-Za-z ]+"
      />

      <input
      type="text"
      required
      matInput
      placeholder="Enter Email Id"
      name="email"
      [(ngModel)]="email"
      pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
    />

      <input
      type="text"
      required
      matInput
      placeholder="Enter City"
      name="city"
      [(ngModel)]="city"
      pattern="[A-Za-z ]+"
    />
      <input
        type="text"
        required
        matInput
        placeholder="Enter Mobile Number"
        name="contactNumber"
        [(ngModel)]="contactNumber"
        pattern="[0-9]{10}"
      />

      <input
      type="text"
      required
      matInput
      placeholder="Enter GST Number"
      name="gstNumber"
      [(ngModel)]="gstNumber"
      pattern="[A-Za-z0-9]+"
    />

    <input
      type="text"
      required
      matInput
      placeholder="Enter Salon Image URL"
      name="image"
      [(ngModel)]="image"
      
    />

    
      <br /><br />

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
