<!-- <form (ngSubmit)="checkAvailability()" #availabilityForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Barber ID" name="barberId" [(ngModel)]="availabilityDetails.barberId" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Appointment Date" name="appointmentDate" [(ngModel)]="availabilityDetails.appointmentDate" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Start Time" name="startTime" [(ngModel)]="availabilityDetails.startTime" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="End Time" name="endTime" [(ngModel)]="availabilityDetails.endTime" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="availabilityForm.invalid">Check Availability</button>
  </form>
  <p *ngIf="availabilityResult !== undefined">{{ availabilityResult ? 'Barber is available.' : 'Barber is not available.' }}</p>
   -->