
<!-- <div class="body">
  <form class="example-form" (ngSubmit)="getbyid(box.value)">
    <h2 class="heading">Salon Owner Details</h2>
    <input
      type="text"
      required
      #box
      matInput
      placeholder="Enter Salon Id"
      name="salonId"
      [(ngModel)]="salonId"
      pattern="[A-Za-z0-9]+"
    />
    <br />
    <button type="submit" class="btn btn-primary">Enter</button>
  </form>
</div> -->

<div class="body" style="margin-top: 5%;">
  <div class="example-form">
    <h2 class="heading">Salon Details</h2>
    <form
      (ngSubmit)="submitForm()"
      enctype="multipart/form-data"
      class="example-form"
    >
    <input
    type="text"
    required
    #box
    matInput
    placeholder="Enter Salon Id"
    name="salonId"
    [(ngModel)]="salonId"
    pattern="[A-Za-z0-9]+"
  />
      <input
        type="text"
        required
        matInput
        placeholder="Enter Service Id"
        name="serviceId"
        [(ngModel)]="serviceId"
        pattern="[A-Za-z0-9]+"
      />

      <input
        type="text"
        required
        matInput
        placeholder="Enter Service Name"
        name="serviceName"
        [(ngModel)]="serviceName"

      />

      <input
        type="text"
        required
        matInput
        placeholder="Enter Service Price"
        name="price"
        [(ngModel)]="price"

      />


    


      <br /><br />
      <button type="submit" class="btn btn-primary">Add Salon Service</button>
    </form>
  </div>
  <br /><br /><br /><br /><br />
</div>
