/* .shipping-card {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



} */
/* .rowarrange{
display: flex;
flex-direction: column;
} */
.mat-radio-button {
  display: block;
  margin: 5px 0;
}

/* .row {
  display: flex;
  flex-direction: row;
} */




.acc_redirect{
  display:flex;
}
.anchor{
  text-decoration: none;

}
.div_img{
  width: 50%;
  
 
}
.img{
  width: 100%;
  min-height: 35em;
}

.div1{
  min-width: 50%;
  align-items: center;
 
 
}
.main_div{
  display: flex;
justify-content: space-around;
  flex-direction: row;
  background: linear-gradient(to left, rgb(148, 138, 207) 50%, #b0b0cf 50%);
  min-height: 35em;
}
.input{
  width: 60%;
  height: 50px;
  border:none;

  border-radius: 2em;
  margin-top: 2em;
  
}
.login{
  min-width: 20em;
  height: 50px;
  border:none;

  border-radius: 2em;
  margin-top: 2em;
  
}
.card_title{
  text-align: center;
  font-weight:700;
  display: flex;
  font-size: 2em;
  justify-content: center;
  margin-top: 1em;
  color: white;
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}
.input{
  text-align: center;
}