<div style="width: 100%;padding:1%;height: 50%; display: flex;justify-content: center;align-items: center; margin-top: 2%;">
    <div style="width: 20%;height: 100%;margin: 1%;cursor: pointer;border: 2px solid wheat;border-radius: 2px;">
        <img routerLink="salon-add-owner" src="../../assets/image/addSalonDetails.jpeg" alt=""
            style="width: 100%;height: 80%;">
        <h1 style="text-align: center;">Add Salon Details </h1>
    </div>
    <div style="width: 20%;height: 100%;margin: 1%;cursor: pointer;border: 2px solid wheat;border-radius: 2px;">
        <img routerLink="salon-addbyownerid-salon" src="../../assets/image/addSalonServices.jpeg" alt=""
            style="width: 100%;height: 80%;border-radius: 2px;">
        <h1 style="text-align: center;">Add Salon Services</h1>
    </div>
    <div style="width: 20%;height: 100%;margin: 1%;cursor: pointer;border: 2px solid wheat;border-radius: 2px;">
        <img routerLink="salon-addbysalonid-salon" src="../../assets/image/addYourSlot.jpeg" alt=""
            style="width: 100%;height: 80%;border-radius: 2px;">
        <h1 style="text-align: center;">Add Slots </h1>
    </div>    
</div>

<div style="width: 100%;padding:1%;height: 50%; display: flex;justify-content: center;align-items: center;">
    <div style="width: 20%;height: 100%;margin: 1%;cursor: pointer;border: 2px solid wheat;border-radius: 2px;">
        <img routerLink="salon-get-category" src="../../assets/image/ShowSalonDetails.jpeg" alt=""
            style="width: 100%;height: 80%;border-radius: 2px;">
        <h1 style="text-align: center;">My Salon Details </h1>
    </div>
    <div style="width: 20%;height: 100%;margin: 1%;cursor: pointer;border: 2px solid wheat;border-radius: 2px;">
        <img routerLink="salon-update-salon" src="../../assets/image/updateyoursalon.jpeg" alt=""
            style="width: 100%;height: 80%;border-radius: 2px;">
        <h1 style="text-align: center;">Update Your Salon</h1>
    </div>
    <div style="width: 20%;height: 100%;margin: 1%;cursor: pointer;border: 2px solid wheat;border-radius: 2px;">
        <img routerLink="salon-bookings" src="../../assets/image/download.png" alt=""
            style="width: 100%;height: 80%;border-radius: 2px;">
        <h1 style="text-align: center;">Your Bookings</h1>
    </div>

</div>
