<div class="body">
  <div class="example-form">
    <h2 class="heading">Salon Owner Details</h2>
    <input
      type="text"
      required
      placeholder="Enter SalonOwner Id"
      [(ngModel)]="salonOwner.ownerId"
    />
    <input
      type="text"
      required
      placeholder="Enter SalonOwner Email"
      [(ngModel)]="salonOwner.email"
    />
    <input
      type="text"
      required
      placeholder="Enter SalonOwner Name"
      [(ngModel)]="salonOwner.name"
    />
    <input
      type="text"
      required
      placeholder="Enter SalonOwner Mobile"
      [(ngModel)]="salonOwner.mobileNo"
    />

    <input
      type="text"
      required
      placeholder="Enter SalonOwner ReferalCode"
      [(ngModel)]="salonOwner.referalCode"
    />
    <input
      type="text"
      required
      placeholder="Enter SalonOwner Address"
      [(ngModel)]="salonOwner.addr"
    />

    <input
      type="text"
      required
      placeholder="Enter SalonOwner Date Of Birth"
      [(ngModel)]="salonOwner.dob"
    />

    <input
      type="text"
      required
      placeholder="Enter Price"
      [(ngModel)]="salonOwner.price"
    />
  </div>
</div>

<div class="body">
  <div class="example-form">
    <h2 class="heading">Add Salon Details</h2>
    <input
      type="text"
      required
      placeholder="Enter Salon Id"
      [(ngModel)]="salon.salonId"
    />
    <input
      type="text"
      required
      placeholder="Enter salon Name"
      [(ngModel)]="salon.salonName"
    />
    <input
      type="text"
      required
      placeholder="Enter Salon Address"
      [(ngModel)]="salon.salonAddress"
    />
    <input
      type="text"
      required
      placeholder="Enter Salon Referal Code"
      [(ngModel)]="salon.referalCode"
    />

    <input
      type="text"
      required
      placeholder="Enter Salon gstNumber"
      [(ngModel)]="salon.gstNumber"
    />
    <input
      type="text"
      required
      placeholder="Enter Salon Location"
      [(ngModel)]="salon.location"
    />

    <input
      type="text"
      required
      placeholder="Enter Salon avalibility"
      [(ngModel)]="salon.availability"
    />

    <input
      type="text"
      required
      placeholder="Enter Salon Nearby Transport"
      [(ngModel)]="salon.NearbyTransportation"
    />

    <input
      type="number"
      required
      placeholder="Enter Salon Price"
      [(ngModel)]="salon.price"
    />

  </div>
</div>

<div class="body">
  <div class="example-form">
    <h2 class="heading">Add Category Details</h2>
    <input
      type="text"
      required
      placeholder="Enter Category Id"
      [(ngModel)]="category.categoryId"
    />
    <input
      type="text"
      required
      placeholder="Enter CategoryType"
      [(ngModel)]="category.categoryType"
    />
    <!-- <input
      type="text"
      required
      placeholder="Enter Category Type"
      [(ngModel)]="Category.categoyType"
    /> -->
    <input
      type="text"
      required
      placeholder="Enter Category Price"
      [(ngModel)]="category.price"
    />
  </div>
  <button (click)="saveData()">Save complete Data</button>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
