<div>
  <nav class=" nav navbar navbar-expand-lg navbar-light bg-light p-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Miragemanestudio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="items collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-0 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service">Services</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" href="/paymentform1">Counsellor</a> -->
            <!-- <a class="nav-link active" aria-current="page" href="/counsellor-update">Counsellor</a> -->
          </li>
        </ul>
        <div class="text-end">
          <button class="buttontheme1"><a  href="/signup" class="anchor2 me-2">Sign Up</a> </button> 
          <button class="buttontheme2"><a  href="/login" class="anchor1 me-2">Login</a></button>
          
                 </div>
          <!-- <a routerLink="/showappointments">slots</a> -->
      </div>
     </div>
    
  </nav>


</div>