<div>
  <nav class=" nav navbar navbar-expand-lg navbar-light bg-light p-3">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="matMenulist">
        
       
        <button mat-menu-item class="custom-menu-item">
          <a routerLink="salon-add-owner">Add Salon Details</a>
        </button>
        <button mat-menu-item class="custom-menu-item">
          <a routerLink="salon-addbyownerid-salon">Add Salon Services</a>
        </button>
        <button mat-menu-item class="custom-menu-item">
          <a routerLink="salon-addbysalonid-salon">Add Slots</a>
        </button>
  
        <!-- <button mat-menu-item class="custom-menu-item">
          <a routerLink="salon1-get-owner">List of Owners</a>
        </button>
        <button mat-menu-item class="custom-menu-item">
          <a routerLink="salon-get-salon">List of Salons</a>
        </button> -->
        <button mat-menu-item class="custom-menu-item">
          <a routerLink="salon-get-category">My Salon Details</a>
        </button>
  
        <button mat-menu-item class="custom-menu-item">
          <a routerLink="salon-update-salon">Update your Salon</a>
        </button>
  
        <button mat-menu-item class="custom-menu-item">
          <a (click)="onlogout()">Salon-Owner-Logout</a>
        </button>
      </mat-menu>
     </mat-toolbar>




    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Miragemanestudio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="items collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-0 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service">Services</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" href="/paymentform1">Counsellor</a> -->
            <!-- <a class="nav-link active" aria-current="page" href="/counsellor-update">Counsellor</a> -->
          </li>
        </ul>
        <div class="text-end">
          <button class="buttontheme1"><a  href="/signup" class="anchor2 me-2">Sign Up</a> </button> 
          <button class="buttontheme2"><a  href="/login" class="anchor1 me-2">Login</a></button>
          
                 </div>
          <!-- <a routerLink="/showappointments">slots</a> -->
      </div>
     </div>
    
  </nav>


</div>