.navbar-nav {
  flex-direction: row;
}
​
.nav-link {
  padding: 0.5rem 1rem;
}

.carousel-image {
  object-fit: cover;
  max-height: 120vh; 
  width: 100%;
}

.carousel-inner {
  overflow: hidden;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.carousel-item.active {
  transform: translateX(0);
}

.carousel-item.next {
  transform: translateX(100%);
}

.carousel-item.prev {
  transform: translateX(-100%);
}

.carousel-item:not(.active) {
  visibility: hidden;
  position: absolute;
}

.carousel-item:not(.active).next,
.carousel-item:not(.active).prev {
  visibility: visible;
}

.carousel-item:not(.active).next {
  transform: translateX(100%);
}

.carousel-item:not(.active).prev {
  transform: translateX(-100%);
}
@media (max-width: 410px) {
  .carousel-image {
    max-height: 90vh;
  }
}

@media (max-width: 380px) {
  .carousel-image {
    max-height: 80vh;
  }
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  box-sizing: border-box;
}
.dropdown-item:hover {
  background-color: #eea3d8 ;
}
.row {
  display: flex;
  justify-content: space-between;
  margin: 0 -8px; /* Added margin */
}
​
.column {
  flex: 0 0 calc(25% - 16px); /* Updated width calculation */
  margin: 0 8px; /* Added margin */
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  height: 280px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 50%;
}
​
.container {
  padding: 16px;
}
​
.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .navbar-nav {
    flex-direction: column;
  }
}
​
.section-heading {
  text-align: center;
  margin-top: 40px;
}
​
/* .carousel-container {
  margin-top: 20px;
} */

​
.mapouter {
  margin-bottom: -160px; /* Add a negative margin to remove the white space */
}

.about-section {
  padding: 10px;
  text-align: center;
  background-color: #474e5d;
  color: rgb(248, 202, 229);
}
​
.container {
  padding: 0 16px;
}
​
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
