<div style="padding:5%;background-image: url('../../assets/image/success.jpeg'); background-size: cover;background-repeat: no-repeat;">
<h2 style="text-align: center;color: #cc0000;">Whoaaaa......</h2>
<h3 style="text-align: center;color: #2986cc;">Your Booking has been confirmed !</h3>
<P ><b>Your Booking details are : -</b></P>
<p><b>Booking Id:{{data.id}}</b></p>
<p><b>Name:{{data.customerName}}</b></p>
<p><b>Appointment Date:{{data.appointmentDate}}</b></p>
<p><b>Slot Time:{{data.slotTime}}</b></p>
<p><b>Salon:{{data.salonName}}</b></p>
<p><b>Services Opted:{{data.servicesReq}}</b></p>
<p><b>Total Price:{{data.totalPrice}}</b></p>
<button (click)="redirect_to_payment()" style="margin-left: 30%;" mat-raised-button color="primary">Payment</button>
</div>


