<div class="top">
  <div class="warp">
    <div class="example-card" *ngFor="let item of getJsonValue">
      <h2>Salon Number:{{ item.salonId }}</h2>
      <h2>Salon Name:{{ item.salonName }}</h2>
      <h2>Salon Address:{{ item.salonAddress }}</h2>
      <h2>Location:{{ item.location }}</h2>
      <h2>Referal Code:{{ item.referalCode }}</h2>
      <h2>Maintanance:{{ item.maintanance }}</h2>
      <h2>Price:{{ item.price }}</h2>
      <button (click)="deletesalon(item.salonId)">Delete</button>
    </div>
  </div>
</div>
