<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    <!-- Content Container -->
    <div class="content-container">
        <!-- Image Container -->
        <!-- <div class="image-container">
            <img src="../../assets/imge.jpg" alt="Payment Image">
        </div> -->

        <!-- Booking Summary -->
        <div class="booking-summary">
            <h2>Booking Summary</h2>
            <div class="service-details">
                <b>Salon Name</b>
                <mat-card>
                    <mat-card-content> {{salonName}} </mat-card-content>
                </mat-card><br>

                <b>Slot Date</b>
                <mat-card>
                    <mat-card-content>{{selectedSlot[0].slotDate | date:'dd/MM/yyyy'}}</mat-card-content>
                </mat-card><br> 

                <b>Slot Time</b>
                <mat-card>
                    <mat-card-content>{{selectedSlot[0].slotTime}}</mat-card-content>
                </mat-card><br>

                <b>Total Price</b>
                <mat-card>
                    <mat-card-content>{{totalPrice}}
                </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <!-- Main Container -->
    <div class="container">
        <!-- Payment Form Container -->
        <div class="card card-container">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="error">Payment failed: {{ error }}</div>
                    <div class="alert alert-success" role="alert" *ngIf="paymentId">Payment Success. Payment ID: {{ paymentId }}</div>
                </div>

                <!-- Name Input -->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="form.name" required minlength="3" maxlength="20" #name="ngModel" />
                    <div class="error-message" *ngIf="f.submitted && name.invalid">
                        <div *ngIf="name.errors?.['required']">Name is required</div>
                        <div *ngIf="name.errors?.['minlength']">Name must be at least 3 characters</div>
                        <div *ngIf="name.errors?.['maxlength']">Name must be at most 20 characters</div>
                    </div>
                </div>

                <!-- Email Input -->
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="form.email" required #email="ngModel" />
                    <div class="error-message" role="alert" *ngIf="f.submitted && email.invalid">Email is required!</div>
                </div>

                <!-- Phone Input -->
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="tel" class="form-control" name="phone" [(ngModel)]="form.phone" required minlength="10" maxlength="10" #phone="ngModel" />
                    <div class="error-message" role="alert" *ngIf="f.submitted && phone.invalid">
                        <div *ngIf="phone.errors?.['required']">Phone is required</div>
                        <div *ngIf="phone.errors?.['minlength'] || phone.errors?.['maxlength']">Phone must be 10 digits</div>
                    </div>
                </div>

                <!-- Amount Display (Mat-Card) -->
                <!-- <div >
                    <label for="Amount">Amount</label>
                    <mat-card>
                        <mat-card-content >{{totalPrice}}</mat-card-content>
                    </mat-card><br>
                </div> -->

                <div class="form-group">
                    <label for="amount">Amount</label> 
                    <h1 type="number" class="form-control" name="amount" [(ngModel)]="form.amount" required #amount="ngModel">{{totalPrice}}</h1>
                    <!-- <mat-card-content class="form-control" name="amount" [(ngModel)]="form.amount" #amount="ngModel">{{totalPrice}}</mat-card-content> -->
                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && amount.invalid">
                        <div *ngIf="amount.errors?.['required']">Amount is required</div>
                    </div>
                </div>

                <!-- Pay Button -->
                <div class="form-group">
                    <button class="btn btn-danger btn-block">Pay</button>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
