<div class="top">
  <div class="warp">
    <div class="example-card" *ngFor="let item of getJsonValue">
      <mat-card-content>
        <img class="image" src="data:image/jpeg;base64,{{ item.roomImage }}" />
        <h2>Category Number:{{ item.categoryId }}</h2>
        <h2>Category Type:{{ item.categoryType }}</h2>
        <h2>price:{{ item.price }}</h2>
        <h2>Ac type:{{ item.acNonAc }}</h2>
        <h2>WIFI:{{ item.wifi }}</h2>
        <h2>Maintanance:{{ item.maintanance }}</h2>
        <button (click)="deletecategory(item.categoryId)">Delete</button>
      </mat-card-content>
    </div>
  </div>
</div>
