body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f4f4f4, #dcdcdc);
}
.warp {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}
.warp:hover {
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
}
.example-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background: lightgray;
  gap: 5px;
  background: #fff;
  transform: scale(1);
  box-shadow: 0 14px 80px rgba(34, 35, 58, 0.5);
  border-radius: 10px;
}
.service-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 5px;
}
.example-card:hover {
  transform: scale(1.02);
  z-index: 1;
}
h1,
h2 {
  margin: 5px 0;
  font-weight: bold;
  transition: color 0.2s;
}
h1 {
  font-size: 1.5rem;
  color: #333333;
}
h2 {
  font-size: 1.2rem;
  color: #666666;
  margin: 0;
  width: 100%;
}
h2.fristh2 {
  border-bottom: 1px solid;
  text-align: center;
}
a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  text-decoration: underline;
  color: #0056b3;
}
.example-carddiv {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  /* gap: 25px; */
}
.example-cardleftdiv {
  width: 50%;
  display: flex;
  justify-content: center;
}
.example-cardleftdiv img {
  width: auto;
  height: 200px;
}
.example-cardrightdiv {
  width: 50%;
  display: grid;
  justify-items: start;
  gap: 5px;
}
button.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
button.learn-more:hover .circle {
  width: 100%;
}
button.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button.learn-more:hover .button-text {
  color: #fff;
}